@model EShop.WEB.Models.AdminPasswordVM
@{
    ViewBag.Title = "تغيير كلمة المرور";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div id="content">

    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-left">
                
                <a id="cancel" href="#" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="إالغاء"><i class="fa fa-reply"></i></a>
            </div>

            <h1>المستخدمين</h1>
            <ul class="breadcrumb">
                <li><a href="">الرئيسية</a></li>
                <li><a href="@Url.Action("Index","ManageUsers")">المستخدمين</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading text-right">
                    <h3 class="panel-title ">
                       
                        <span class="glyphicon glyphicon-th"></span>
                        تغيير كلمة مرور المدير
                    </h3>
                </div>
                <form id="form-password">
                    @Html.ValidationSummary("يرجى تصحيح الاخطاء التالية:")
                    <div class="panel-body">
                        <div class="row">
                            <div style="float: left;" class="col-xs-6 col-sm-6 col-md-6 separator social-login-box">
                                <br>
                                <img alt="" class="img-thumbnail" src="http://bootdey.com/img/Content/avatar/avatar1.png">
                            </div>
                            <div style="margin-top:25px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                        @Html.PasswordFor(c => c.Password, new {@class="form-control", placeholder="كلمة المرور الجديدة" })
                                        @*<input name="Password" class="form-control" type="password" placeholder="كلمة المرور الجديدة">*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                                        @Html.PasswordFor(c => c.ConfirmPassword, new { @class = "form-control", placeholder = "تأكيد كلمة المرور" })
                                        @*<input name="ConfirmPassword" class="form-control" type="password" placeholder="تأكيد كلمة المرور">*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button id="btn-save" class="btn icon-btn-save btn-success" type="button">
                                <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>حفظ
                            </button>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function refreshPage() {
            $.ajax({
                url: '@Url.Action("ChangeAdminPassword", "ManageUsers")',
                method: 'Get',
                success: function (data) {
                    $('#content').html($(data).find('#content').html());
                }
            });
        }
        $(document).ready(function () {



            $('#btn-save').on('click', function (e) {
                e.preventDefault();
                var form = $("#form-password");
                //form.validate({
                //    ignore: ":hidden"
                //});
                if (form.valid() == false) {
                    generateFlash('error', "يرجى التحقق من القيم المدخلة أو ادخال الحقول المطلوبة");
                    return;
                }
                // $('#form-category').submit();
                $.ajax({
                    url: '@Url.Action("ChangeAdminPassword", "ManageUsers")',
                    method: 'POST',
                    data: $('#form-password').serialize(),
                    success: function (data) {
                        if (data.Succedeed != null) {
                            refreshPage();
                            if (data.Succedeed == true) {

                                generateFlash('success', data.message);
                            }
                            else {
                                generateFlash('error', data.message);
                            }
                        } else {

                            $('#content').html($(data).find('#content').html());
                            console.log('');
                            generateFlash('error', 'الرجاء تعبئة جميع الحقول المطلوبة');
                        }
                    }
                });
            });


        });
    </script>
    <script type="text/javascript">


    </script>

    <script type="text/javascript">

    </script>
</div>
