@model EShop.WEB.Models.UserDetailsVm
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "تعديل مستخدم";
}

<div id="content">

    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-left">
                @*<button id="save-cat" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="حفظ"><i class="fa fa-save"></i></button>*@
                <a id="cancel" href="@Url.Action("Index","ManageUsers")" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="إالغاء"><i class="fa fa-reply"></i></a>
            </div>

            <h1>المستخدمين</h1>
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index","DashBoard")">الرئيسية</a></li>
                <li><a href="@Url.Action("Index","ManageUsers")">المستخدمين</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> تعديل بيانات المستخدم</h3>
                @Html.ValidationSummary("", new { @class = "val-error" })
            </div>
            <div class="panel-body">
                <form method="post" id="form-user" class="form-horizontal">
                    <input type="hidden"   name="Id" value="@Model.Id" />
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-general" data-toggle="tab">معلومات الزبون الشخصية</a></li>
                        <li class=""><a href="#tab-data" data-toggle="tab">معلومات تسجيل الدخول</a></li>
                        <li class=""><a href="#tab-Account-control" data-toggle="tab">التحكم بحساب الزبون</a></li>

                        @*<li class=""><a href="#tab-design" data-toggle="tab">التصميم</a></li>*@
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            @*<ul class="nav nav-tabs" id="language">
                                <li class="active"><a href="#language1" data-toggle="tab"><img src="~/Assets/images/flag-english.jpg" title="English"> English</a></li>
                                <li class=""><a href="#language2" data-toggle="tab"><img src="~/Assets/images/flag-arabic.jpg" title="English"> العربية</a></li>
                            </ul>*@
                            <div class="tab-content ">
                                <div  class="tab-pane active" id="language1">
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" for="input-user-name">الاسم</label>
                                        <div class="col-sm-10 ">
                                            @*<input type="text" name="EnglishName" value="@Model.Category.EnglishName" placeholder="Category Name" id="input-cat-en" class="form-control">*@
                                            @Html.TextBoxFor(c => c.FirstName, new { @class = "form-control", placeholder = "الاسم", id = "input-user-name" })

                                            @Html.ValidationMessageFor(c => c.FirstName, "", new { @class = "val-error" })
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" for="input-user-lastname">الكنية</label>
                                        <div class="col-sm-10 ">
                                            @*<input type="text" name="EnglishName" value="@Model.Category.EnglishName" placeholder="Category Name" id="input-cat-en" class="form-control">*@
                                            @Html.TextBoxFor(c => c.LastName, new { @class = "form-control", placeholder = "الكنية", id = "input-user-lastname" })

                                            @Html.ValidationMessageFor(c => c.LastName, "", new { @class = "val-error" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button id="btn-personal" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="حفظ"><i class="fa fa-save"></i></button>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-data">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-email">البريد الالكتروني</label>
                                <div class="col-sm-4">
                                 
                                    @Html.TextBoxFor(c => c.Email, new { @class = "form-control", placeholder = "البريد الالكتروني", id = "input-email" })
                                    @Html.ValidationMessageFor(c => c.Email, "", new { @class = "val-error" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-password">كلمة المرور</label>
                                <div class="col-sm-4">

                                    @Html.PasswordFor(c => c.Password, new { @class = "form-control", placeholder = "كلمة المرور", id = "input-password" })
                                    @Html.ValidationMessageFor(c => c.Email, "", new { @class = "val-error" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-password-confirm">تأكيد كلمة المرور</label>
                                <div class="col-sm-4">

                                    @Html.PasswordFor(c => c.ConfirmPassword, new { @class = "form-control", placeholder = "تأكيد كلمة المرور", id = "input-password-confirm" })
                                    @Html.ValidationMessageFor(c => c.Email, "", new { @class = "val-error" })
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="btn-login" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="حفظ"><i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        <div class="tab-pane" id="tab-Account-control">
                            <br />
                            <br />
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="input-lock">قفل الحساب:</label>
                                <div class="col-md-10 text-center">
                                    <button id="btn-lock-account" class="btn btn-primary col-md-6 @(Model.AccountLock ? "hidden" : "")">قفل حساب الزبون</button>
                                    <button id="btn-unlock-account" class="btn btn-primary col-md-6 @(Model.AccountLock ? "" : "hidden")">إلغاء القفل عن حساب الزبون</button>
                                   
                                    <label style="text-align:right" class="control-label label text-right @(!Model.AccountLock ? "label-success" : "label-danger")" for="">الحالة: @(Model.AccountLock ? "مقفل" : "نشط")</label>
                                    

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="input-status">حالة الحساب:</label>
                                <div class="col-md-10 text-center" >
                                    <button id="btn-resend-email" class="btn btn-primary col-md-6 ">إعادة إرسال إيميل التحقق</button>
                                    <label style="text-align:right" class="control-label label @(Model.AccountStatus ? "label-success" : "label-danger") " for="">الحالة: @(Model.AccountStatus ? "تم التحقق من الحساب" : "لم يتم التحقق من الحساب")</label>


                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var form = $("#form-user");

            form.valid();
        });
    </script>
    <script type="text/javascript">

        $('#btn-personal').on('click', function (e) {
            e.preventDefault();
            var form = $("#form-user");
            //form.validate({
            //    ignore: ":hidden"
            //});
            if (form.valid() == false) {
               
                generateFlash('error', "يرجى التحقق من القيم المدخلة أو ادخال الحقول المطلوبة");
                return;
            }
            $.ajax({
                url:'@Url.Action("EditPersonal","ManageUsers")',
                method: 'Post',
                data: $('#form-user').serialize(),
                success: function (data) {
                    if (data.Succedeed != null) {
                        refreshPage();
                        if (data.Succedeed == true) {

                            generateFlash('success', data.message);
                        }
                        else {
                            generateFlash('error', data.message);
                        }
                    } else {

                        $('#content').html($(data).find('#content').html());
                        console.log('');
                        generateFlash('error', 'الرجاء تعبئة جميع الحقول المطلوبة');
                    }
                }
            });
        });
    </script>
    <script>
        function refreshPage() {
            $.ajax({
                url: '@Url.Action("Edit","ManageUsers")',
                method: 'Get',
                data: { Id: $('#id-hid').val() },
                success: function (data) {
                    $('#content').html($(data).find('#content').html());
                }
            });
        }
        $(document).ready(function () {

           
            
            ////////////////////////////////////
            $('#btn-login').on('click', function (e) {
                e.preventDefault();
                var form = $("#form-user");
                //form.validate({
                //    ignore: ":hidden"
                //});
                if (form.valid() == false) {
                    generateFlash('error', "يرجى التحقق من القيم المدخلة أو ادخال الحقول المطلوبة");
                    return;
                }
                $.ajax({
                    url: '@Url.Action("EditLogin","ManageUsers")',
                    method: 'POST',
                    data: $('#form-user').serialize(),
                    success: function (data) {
                        if (data.Succedeed != null) {
                            refreshPage();
                            if (data.Succedeed == true) {

                                generateFlash('success', data.message);
                            }
                            else {
                                generateFlash('error', data.message);
                            }
                        } else {

                            $('#content').html($(data).find('#content').html());
                            console.log('');
                            generateFlash('error', 'الرجاء تعبئة جميع الحقول المطلوبة');
                        }
                    }
                });
            });

            $('#btn-lock-account').on('click', function (e) {
                e.preventDefault();
                var form = $("#form-user");
                //form.validate({
                //    ignore: ":hidden"
                //});
                if (form.valid() == false) {
                    generateFlash('error', "يرجى التحقق من القيم المدخلة أو ادخال الحقول المطلوبة");
                    return;
                }
                $.ajax({
                    url: '@Url.Action("LockAccount","ManageUsers")',
                    method: 'POST',
                    data: $('#form-user').serialize(),
                    success: function (data) {
                        if (data.Succedeed != null) {
                            refreshPage();
                            if (data.Succedeed == true) {

                                generateFlash('success', data.message);
                            }
                            else {
                                generateFlash('error', data.message);
                            }
                        } else {

                            $('#content').html($(data).find('#content').html());
                            console.log('');
                            generateFlash('error', 'الرجاء تعبئة جميع الحقول المطلوبة');
                        }
                    }
                });
            });

            $('#btn-unlock-account').on('click', function (e) {
                e.preventDefault();

                $.ajax({
                    url: '@Url.Action("UnLockAccount","ManageUsers")',
                    method: 'POST',
                    data: $('#form-user').serialize(),
                    success: function (data) {
                        if (data.Succedeed != null) {
                            refreshPage();
                            if (data.Succedeed == true) {

                                generateFlash('success', data.message);
                            }
                            else {
                                generateFlash('error', data.message);
                            }
                        } else {

                            $('#content').html($(data).find('#content').html());
                            console.log('');
                            generateFlash('error', 'الرجاء تعبئة جميع الحقول المطلوبة');
                        }
                    }
                });
            });

            $('#btn-resend-email').on('click', function (e) {
                e.preventDefault();

                $.ajax({
                    url: '@Url.Action("ResendConfirmationEmail", "ManageUsers")',
                    method: 'POST',
                    data: $('#form-user').serialize(),
                    success: function (data) {
                        if (data.Succedeed != null) {
                            refreshPage();
                            if (data.Succedeed == true) {

                                generateFlash('success', data.message);
                            }
                            else {
                                generateFlash('error', data.message);
                            }
                        } else {

                            $('#content').html($(data).find('#content').html());
                            console.log('');
                            generateFlash('error', 'الرجاء تعبئة جميع الحقول المطلوبة');
                        }
                    }
                });
            });

        });
    </script>
    <script type="text/javascript">

    </script>

    <script type="text/javascript">

        $('#language a:first').tab('show');
    </script>
</div>