@model EShop.WEB.Models.AddSizeAttributeVM
@{
    ViewBag.Title = "تعديل واصفة قياس";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-left">

                <a href="@Url.Action("Index","manageSizeAttributes")" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="Cancel"><i class="fa fa-reply"></i></a>
            </div>
            <h1>واصفات القياسات</h1>
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index","DashBoard")">الرئيسية</a></li>
                <li><a href="@Url.Action("Index","manageSizeAttributes")">واصفات القياسات</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> تعديل واصفة قياس</h3>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data" id="form-option" class="form-horizontal">
                    @Html.ValidationSummary("يرجى تصحيح الاخطاء التالية:")
                    <div class="form-group required">
                        <input id="size-attr-id" type="hidden" name="Id" value="@Model.SizeAttribute.Id" />
                        <div class="col-sm-10">
                            <label class="col-sm-2 control-label">الاسم العربي</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <img src="~/Assets/images/flag-arabic.jpg" />
                                </span>
                                <input id="op-arabic" type="text" name="arabicName" value="@Model.SizeAttribute.ArabicName" placeholder="الاسم العربي" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-10">
                            <label class="col-sm-2 control-label">الاسم الانكليزي</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <img src="~/Assets/images/flag-english.jpg" />
                                </span>
                                <input id="op-english" type="text" name="englishName" value="@Model.SizeAttribute.EnglishName" placeholder="English Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <label class="col-sm-2 control-label">فئة القياسات</label>
                            <div class="input-group">
                                <select class="form-control" id="size-cat-list" name="SizeCategoryId">
                                    <option value="0">أختر فئة القياسات</option>
                                    @foreach (var SizeCategory in Model.SizesCategories)
                                    {
                                        <option value="@SizeCategory.Id" @(@Model.SizeAttribute.SizeCategoryId==SizeCategory.Id?"selected":"")>@SizeCategory.ArabicName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <button id="btn-save-option" form="form-option" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Save"><i class="fa fa-save"></i></button>
                </form>
                @*<input id="optionIdTemp" type="hidden" name="optionId" value="" />*@
                <div id="option-val">
                    @*<form id="option-value-form" action="@Url.Action("EditSizeAttributeValue", "ManageSizeAttributes")" method="post">
                        <input id="optionId" type="hidden" name="SizeAttributeId" value="" />
                        <div id="values-div">
                            @{
                                    Html.RenderPartial("_AddSizeAttributeValue", Model);
                                }
                        </div>
                    </form>*@

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
           // $('#option-value').addClass('hidden');
            $('#btn-save-option').on('click', function (e) {
                e.preventDefault();
                var form = $("#form-option");
                //form.validate({
                //    ignore: ":hidden"
                //});
                if (form.valid() == false) {
                    generateFlash('error', "يرجى التحقق من القيم المدخلة أو ادخال الحقول المطلوبة");
                    return;
                }
                $.ajax({
                    url: '@Url.Action("Edit","ManageSizeAttributes")',
                    method: 'post',
                    global: false,
                    data: $('#form-option').serialize(),
                    success: function (data) {
                        if (data.Succedeed == true) {
                            generateFlash('success', data.message);
                            $('#optionId').val(data.prop);


                        }
                        else {
                            generateFlash('error', data.message);
                        }
                    }
                });
            });
        });
    </script>
</div>