@model EShop.WEB.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Manage";
    if (!Request.IsAjaxRequest())
    {
        Layout = "~/Views/Manage/_ManageLayout.cshtml";
    }
}

@using (Ajax.BeginForm("ChangePassword2", "Manage",null, (AjaxOptions)ViewBag.AjaxOptions2, new { @class = "form-horizontal", role = "form", @id = "form1" }))
{
   
    
    @Html.AntiForgeryToken()
    <h4>تغيير كلمة المرور</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.OldPassword)
        </div>

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.NewPassword)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="حفظ التغييرات" class="btn btn-default" />
        </div>

    </div>
    
}


<script>
    //this code goes in your partialview
    $(function () {
     //allow the validation framework to re-prase the DOM
     jQuery.validator.unobtrusive.parse();
     jQuery.validator.unobtrusive.parse("#form1");
    });
</script>
