@model List<EShop.BLL.DTO.ProductDTO>
<div class="best-sale-product">
    <div class="sidebar-bar-title">
        <h3>أحدث المنتجات</h3>
    </div>
    <div class="block-content">
        <div class="slider-items-products">
            <div id="best-sale-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col4">
                    <div class="product-item">
                        @{ var cnt = Math.Min(Model.Count, 4);}
                        @for (int i = 0; i < cnt; i++)
                        {
                            if (Model.Count>i)
                            {
                                <div class="best-sale-item">
                                    <div class="products-block-left">
                                        <a href="@Url.Action("Browse", "Product", new {id = Model[i].Id})" title="@Model[i].Name" class="product-image"><img src="@(Model[i].Images[0]).ashx?height=75" alt="@Model[i].Name"></a>
                                    </div>
                                    <div class="products-block-right">
                                        <p class="product-name" style="height:40px;text-overflow: ellipsis;    overflow: hidden;">
                                            <a href="@Url.Action("Browse", "Product", new {id = Model[i].Id})">@Model[i].Name</a>
                                        </p>
                                        <span class="price">@Model[i].TotalPriceDisplay</span>

                                        <div class="rating">
                                            @{Html.RenderPartial("_Stars", Model[i].TotalRate);}
                                        </div>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="product-item">
                            @for (int i = 4; i < 8; i++)
                            {
                                if (Model.Count>i)
                                {
                                    <div class="best-sale-item">
                                        <div class="products-block-left">
                                            <a href="@Url.Action("Browse", "Product", new {id = Model[i].Id})" title="@Model[i].Name" class="product-image"><img src="@(Model[i].Images[0]).ashx?height=75" alt="@Model[i].Name"></a>
                                        </div>
                                        <div class="products-block-right">
                                            <p class="product-name" style="height:40px;text-overflow: ellipsis;    overflow: hidden;">
                                                <a href="@Url.Action("Browse","Product",new {id=Model[i].Id})">@Model[i].Name</a>
                                            </p>
                                            <span class="price">@Model[i].TotalPriceDisplay</span>

                                            @{Html.RenderPartial("_Stars", Model[i].TotalRate);}
                                        </div>
                                    </div>
                                }

                            }
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
