@model EShop.BLL.DTO.ProductDTO
@using Resx = EShop.Resources.Views.EShopResource
@{
    var product = Model;
}
<div class="product-item">
    <div class="item-inner">
        <div class="product-thumbnail">
            <div class="btn-quickview">
                <a href="quick_view.html"><span>@Resx.QuickOverview</span></a>
            </div>
            @if (product.SelectedColor != -1)
            {
                <a id="@(product.Id.ToString() + '-' + product.Colors[product.SelectedColor].ValueId.ToString())" href="@Url.Action("Browse", "Product", new {id = product.Id, c = product.Colors[product.SelectedColor].ColorNameEnglish})" class="product-item-photo colorClass"> <img src="@(product.Colors[product.SelectedColor].ProductImage).ashx?height=200" alt=""></a>
                int len = Math.Min(product.Colors.Count, 2);
                for (int i = 0; i < len; i++)
                {
                    if (i == product.SelectedColor)
                    { continue; }

                    <a id="@(product.Id.ToString() + '-' + product.Colors[i].ValueId.ToString())" href="@Url.Action("Browse", "Product", new {id = product.Id, c = product.Colors[i].ColorNameEnglish})" class="product-item-photo colorClass Hidden"> <img class="product-image-photo" src="@(product.Colors[i].ProductImage).ashx?height=200" alt=""></a>
                }
            }
            else
            {

                <a id="@(product.Id.ToString())" href="@Url.Action("Browse", "Product", new {id = product.Id, c = ""})" class="product-item-photo"> <img class="product-image-photo" src="@(product.Images[0]).ashx?height=200" alt=""></a>

            }
        </div>
        <div class="pro-box-info">
            <div class="item-info">
                <div class="info-inner">
                    <div class="item-title">
                        <a title="منتج">@product.Name </a>
                    </div>
                    <div class="item-content">
                        <div class="rating">
                            <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                        </div>
                        <div class="item-price">
                            <div class="price-box">
                                <p class="special-price"> <span class="price-label">سعر خاص:</span> <span class="price"> @product.TotalPrice @product.CurrencyName</span> </p>
                                <br />
                                @if (product.IsDiscounted)
                                { <p class="old-price"> <span class="price-label">السعر النظامي:</span> <span class="price"> @product.OrginalPrice @product.CurrencyName</span> </p>}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-hover">
                <div class="product-item-actions">
                    <div class="pro-actions">
                        <div class="product-color-size-area">
                            <div class="color-area1">
                                <div class="color">
                                    <ul>
                                        @if (product.SelectedColor != -1)
                                        {
                                            <li><a id="@(product.Id.ToString() + "--" + product.Colors[product.SelectedColor].ValueId)" href="" onclick="return selectColor(@product.Id.ToString(), @product.Colors[product.SelectedColor].ValueId.ToString())" style="background-color: @product.Colors[product.SelectedColor].Image" class="colorClass selectedColor"></a></li>

                                            int len = Math.Min(product.Colors.Count, 2);
                                            for (int i = 0; i < len; i++)
                                            {
                                                if (i == product.SelectedColor) { continue; }
                                                <li><a id="@(product.Id.ToString() + "--" + product.Colors[i].ValueId)" href="" onclick="return selectColor(@product.Id.ToString(), @product.Colors[i].ValueId.ToString())" style="background-color: @product.Colors[i].Image" class="colorClass"></a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li><a style="background-color: white;"></a></li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="add-to-links" data-role="add-to-links">
                        <a href="#" onclick="addToFav(@product.Id)" class="action add-to-wishlist" title="أضف إلى المفضلة"> <span>المفضلة</span> </a> <a href="compare.html" class="action add-to-compare" title="أضف إلى المقارنة"> <span>مقارنة</span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



